# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store

# SwiftPM (실수로 생겨도)
.build/
.swiftpm/

# 에디터
.idea/
